{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Chefly, where passion for exceptional culinary experiences meets the artistry of talented chefs. Founded by Enkhjin Gankhuyag and his brother, Enkhtulga Gankhuyag, our platform is a testament to the love for great food and the desire to connect talented chefs with enthusiastic customers in Mongolia.</p>
            <p>At Chefly, our mission is to elevate dining experiences by connecting customers with the finest chefs in Mongolia. Whether you're planning a special event, craving a personalized catering service, or simply seeking a delightful culinary adventure, we've got you covered.</p>
            <ul>
                <li><strong>Diverse Culinary Talent:</strong> Our platform showcases a diverse range of chefs with expertise in Mongolian, Western, American, Italian, French, and Turkish cuisines.</li>
                <li><strong>Personalized Experiences:</strong> We believe in the power of personalized service. Our chefs work closely with customers to tailor menus that cater to specific tastes, dietary preferences, and event themes.</li>
                <li><strong>Passion for Quality:</strong> We are committed to delivering excellence. From sourcing the finest ingredients to ensuring impeccable presentation, our chefs pour their passion into every dish.</li>
            </ul>
            <div>
                <h3>Enkhjin Gankhuyag</h3>
                <p>Co-founder and visionary, Enkhjin is dedicated to creating a platform that celebrates the rich culinary tapestry of Mongolia. His passion for connecting people through food is the driving force behind Chefly.</p>
            </div>
            <div>
                <h3>Enkhtulga Gankhuyag</h3>
                <p>Co-founder and renowned chef, Enkhtulga brings years of culinary expertise to the table. With a commitment to innovation and a flair for creating memorable dishes, he is the heart of our culinary community.</p>
            </div>
            <p>Whether you're a customer seeking a bespoke dining experience or a chef looking to showcase your talents, Chefly invites you to be part of our vibrant culinary community. Together, let's create moments that savor the essence of good food, shared stories, and unforgettable connections.</p>
            <p><a href="#contact-us">Contact Us</a> to explore a world where every meal is an extraordinary experience!</p>
        </div>
    </div>
</div>
{% endblock content %}
