{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
            <p>Welcome to Chefly, where passion for exceptional culinary experiences meets the artistry of talented chefs...</p>
            <!-- Assuming you have an image to add here -->
            <img src="/static/images/v1_78.png" alt="About Chefly" class="img-fluid my-4" style="max-height: 400px;">
        </div>
    </div>
    
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Co-founders</h2>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                    <img src="/static/images/Enkhjin.jpeg" alt="Enkhjin Gankhuyag" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                    <h3>Enkhjin Gankhuyag</h3>
                    <p>Co-founder and visionary, Enkhjin is dedicated to creating a platform that celebrates the rich culinary tapestry of Mongolia...</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <img src="/static/images/enkhtulga.jpeg" alt="Enkhtulga Gankhuyag" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                    <h3>Enkhtulga Gankhuyag</h3>
                    <p>Co-founder and renowned chef, Enkhtulga brings years of culinary expertise to the table...</p>
                </div>
            </div>
            <p>Whether you're a customer seeking a bespoke dining experience or a chef looking to showcase your talents...</p>
            <p><a href="#contact-us">Contact Us</a> to explore a world where every meal is an extraordinary experience!</p>
        </div>
    </div>
</div>

{% endblock content %}
