{% extends 'customer/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Belleza&display=swap"
      rel="stylesheet"
    />
    <link href="static/css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v1_58">
        <div class="v1_59">
        <span class="v1_9"
            >A Platform To Request for Chefs and Catering Services</span
        >
        <div class="v1_10"></div>
        <div class="v1_13">
            <div class="v1_11"></div>
            <a class="v1_12" href="{% url 'menu' %}">Book now</a>
        </div>
        </div>
    </div>
  </body>
</html>
{% endblock content %}
