* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_59 {
  width: 100%;
  height: 533px;
  background: url("../images/v1_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_9 {
  width: 691px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 157px;
  left: 841px;
  font-family: Belleza;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v1_10 {
  width: 732px;
  height: 533px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_13 {
  width: 270px;
  height: 70px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 841px;
  overflow: hidden;
}
.v1_11 {
  width: 270px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.5px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_12 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 63px;
  font-family: Belleza;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
