.step-number {
  color: #FEECA4;
  text-align: center;
  font-family: 'Candal', sans-serif; /* Make sure you have this font available */
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.steps-section {
  overflow: hidden;
}
.hero-section {
  margin-top: 40px;
}
.request-section {
  color: #000;
  font-family: Belleza;
  font-size: 405x;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.imageTop{
  border-radius: 0px 20px 20px 0px;
  margin-right: 10px;
  max-width: 90%;
}

.book-button{
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #FFF;
  padding: 10px 40px 10px 40px;
  color: black;
}
.cuisine{
  border-radius: 20px;
  width: 500px;
  height: 500px;
}
.cuisine-text{
  color: #000;
  text-align: center;
  font-family: Belleza;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 60px;
}
.step-text{
  color: #000;
  text-align: center;
  font-family: Belleza;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.more-button {
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #FFF;
  padding: 10px 60px 10px 60px;
  color: black;
  font-size:30px;
}

.carousel-item img {
  width: 100%; /* Makes image responsive */
  max-height: 500px; /* Adjust this value to suit your needs */
  object-fit: cover; /* This ensures the aspect ratio is maintained while covering the area */
}

.section-my-5 {
  margin-bottom: 5rem; /* Adjust the value as needed */
}



.cuisine-carousel .carousel-control-prev-icon,
.cuisine-carousel .carousel-control-next-icon {
    width: 70px; /* Further increase width */
    height: 70px; /* Further increase height */
    background-size: 100%, 100%; /* Keep background size to prevent blurriness */
    filter: invert(80%); /* Make icons white */
}


.cuisine-carousel .carousel-control-prev,
.cuisine-carousel .carousel-control-next {
    width: 15%; /* Increase if necessary */
}

.card .chef-image, .modal-body .chef-image {
  width: 100%;  
  height: 200px; 
  object-fit: cover; 
}

/* Custom styles for chef cards */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto; /* Pushes the button to the bottom of the card */
}

.chef-card {
  min-height: 200px; /* Adjust based on your content for uniformity */
}
